.height--mite-mite {
  min-height: calc(100vh - 3rem);
}

.max-width--50 {
  max-width: 50rem;
}

.max-width--70 {
  max-width: 70rem;
}

.px-16 {
  padding-left: 4rem;
  padding-right: 4rem;
}

.list--comma-separated li:not(:last-child)::after {
  content: ",";
}
